body {
  font-family: Helvetica, sans-serif;
}
#content {
  width: 350px;
  margin: auto;
  background-color: #f7f2eb;
  padding: 20px;
}
#content:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.speachBubbleAfterMixin {
  content: "";
  position: absolute;
  display: block;
  border-style: solid;
}
.buttonMixin {
  width: 90px;
  height: 30px;
  background-color: #9f92a4;
  line-height: 30px;
  cursor: pointer;
  text-align: center;
}
.userSpeachBubbleMixin {
  content: "";
  position: absolute;
  display: block;
  border-style: solid;
  border-width: 0px 25px 10px 0px;
  border-color: #837089 transparent;
  left: 95%;
}
.responseSpeachBubbleMixin {
  content: "";
  position: absolute;
  display: block;
  border-style: solid;
  border-width: 15px 0px 0px 15px;
  border-color: white transparent;
  right: 98%;
  top: 0;
}
.roundMixin {
  border-radius: 50%;
  border: solid 1px #f7f2eb;
  overflow: hidden;
  float: left;
}
.clearfixMixin {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.sentByUser {
  float: right;
}
.sentByUser:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.sentByServer {
  float: left;
}
.sentByServer:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.userMessage {
  text-align: center;
  color: white;
  background-color: #837089;
  width: 175px;
  padding: 10px 4px;
  border-radius: 5px;
  position: relative;
  margin-bottom: 20px;
}
.userMessage:after {
  content: "";
  position: absolute;
  display: block;
  border-style: solid;
  border-width: 0px 25px 10px 0px;
  border-color: #837089 transparent;
  left: 95%;
}
.possiblePersonInfo {
  margin-left: 50px;
}
.whichPerson {
  background-color: white;
  width: 200px;
  padding: 10px 15px;
  color: #370141;
  border-radius: 5px;
  position: relative;
  margin-bottom: 20px;
}
.whichPerson:after {
  content: "";
  position: absolute;
  display: block;
  border-style: solid;
  border-width: 15px 0px 0px 15px;
  border-color: white transparent;
  right: 98%;
  top: 0;
}
.newPayeeSymbol {
  border-radius: 50%;
  border: solid 1px #f7f2eb;
  overflow: hidden;
  float: left;
  color: #18789e;
  border: solid 2px #18789e;
  margin-right: 25px;
  height: 15px;
  width: 14px;
  text-align: center;
  line-height: 12px;
  margin-left: 6px;
}
.whichPersonName {
  margin-bottom: 10px;
}
.personPhoneNumber {
  color: #a99dad;
}
.possiblePerson {
  padding: 10px 0px;
  border-top: solid 2px #f7f2eb;
  cursor: pointer;
}
.round {
  border-radius: 50%;
  border: solid 1px #f7f2eb;
  overflow: hidden;
  float: left;
  width: 30px;
}
.round img {
  height: 30px;
  min-width: 86%;
  min-height: 70%;
  display: block;
  margin: auto;
}
.okPerson {
  display: none;
  text-align: center;
  width: 200px;
  color: #370141;
  background-color: white;
  border-radius: 5px;
  padding: 10px 4px;
  position: relative;
  margin-bottom: 20px;
}
.okPerson:after {
  content: "";
  position: absolute;
  display: block;
  border-style: solid;
  border-width: 15px 0px 0px 15px;
  border-color: white transparent;
  right: 98%;
  top: 0;
}
.isThisA {
  display: none;
  width: 200px;
  text-align: center;
  color: #370141;
  border-radius: 5px;
  padding: 10px 15px;
  position: relative;
  margin-bottom: 20px;
  background-color: white;
}
.isThisA:before {
  content: "";
  position: absolute;
  display: block;
  border-style: solid;
  border-width: 15px 0px 0px 15px;
  border-color: white transparent;
  right: 98%;
  top: 0;
}
.isThisA:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.booleanQuery {
  margin-bottom: 10px;
}
.yes {
  width: 90px;
  height: 30px;
  background-color: #9f92a4;
  line-height: 30px;
  cursor: pointer;
  text-align: center;
  float: left;
}
.no {
  width: 90px;
  height: 30px;
  background-color: #9f92a4;
  line-height: 30px;
  cursor: pointer;
  text-align: center;
  float: right;
}
.payment {
  display: none;
  width: 100%;
  background-color: white;
  color: #370141;
  font-size: 1.1em;
}
.paymentHeading {
  background-color: #ffb121;
  font-size: 1.5em;
  font-weight: bold;
  padding: 5px 10px;
  height: 135px;
  margin-bottom: 45px;
}
.bigRound {
  border-radius: 50%;
  border: 2px solid #f7f2eb;
  overflow: hidden;
  width: 75px;
  height: 75px;
  margin: auto;
}
.bigRound img {
  margin: auto;
  display: block;
  width: 75px;
}
.whiteText {
  color: white;
}
.paymentFrom {
  padding: 0px 15px;
}
.paymentAccountInfo {
  padding: 10px 15px;
}
.paymentAccountLabels {
  display: inline-block;
  width: 35%;
  color: #a99dad;
}
.paymentAccountData {
  display: inline-block;
  width: 35%;
  color: #a99dad;
}
.paymentOptions {
  padding: 10px 15px;
  margin-bottom: 10px;
}
.paymentOptions:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.payNow {
  width: 90px;
  height: 30px;
  background-color: #9f92a4;
  line-height: 30px;
  cursor: pointer;
  text-align: center;
  width: 45%;
  padding: 5px 0px;
  float: left;
}
.cancel {
  width: 90px;
  height: 30px;
  background-color: #9f92a4;
  line-height: 30px;
  cursor: pointer;
  text-align: center;
  width: 45%;
  padding: 5px 0px;
  float: right;
}
